
.vs/ProjektPK4/v15/.suo
.vs/ProjektPK4/v15/Server/sqlite3/storage.ide-shm
.vs/ProjektPK4/v15/Server/sqlite3/storage.ide-wal
ProjektPK4/obj/x86/Debug/ProjektPK4.csproj.FileListAbsolute.txt
ProjektPK4/obj/x86/Debug/ProjektPK4.exe
*.pdb
ProjektPK4/obj/x86/Debug/ProjektPK4.pdb
